body {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}

#cartshowcase {
    width: 200px;
    height: 200px;
    border: 6px solid rgb(0, 0, 0);
    padding: 25px;
    margin: 2px;
    text-align: center;
    margin-top: 300px;
    margin-left: 150px;
}

#pawpal {
    width: 200px;
    height: 200px;
    border: 6px solid rgb(0, 0, 0);
    padding: 25px;
    margin: 2px;
    text-align: center;
    margin-top: 300px;
    margin-left: 200px;
}

#fczapp {
    width: 200px;
    height: 200px;
    border: 6px solid rgb(0, 0, 0);
    padding: 25px;
    margin: 2px;
    text-align: center;
    margin-top: 800px;
    margin-left: ;
}

#AIresearchpaper {
    width: 200px;
    height: 200px;
    border: 6px solid rgb(0, 0, 0);
    padding: 25px;
    margin: 2px;
    text-align: center;
    margin-top: 100px;
}

#animalresearchpaper {
    width: 200px;
    height: 200px;
    border: 6px solid rgb(0, 0, 0);
    padding: 25px;
    margin: 2px;
    text-align: center;
}